.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.main {
    height: calc(100vh - 56px);
}

.game {
    max-width: 500px;
    gap: 20px;
    overflow-y: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.bingoButton {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .game {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 400px) {
    .game {
        padding-top: 10px;
    }

    .bingoButton {
        width: 80px;
        height: 80px;
        font-size: x-small;
    }
}