.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.main {

    height: calc(100vh - 56px);
}

.game {
    max-width: 500px;
    gap: 20px;
    overflow-y: auto;
    padding-top: 30px;
}

.bingoButton {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px) {
    .game {
        width: 100%;
        padding-top: 10px;
        /* max-height: calc(100vh - 265px); */
    }
}