.trashButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 40px;
}

.trashButton>i {
    height: 19px;
    width: 16px;
}

.bars {
    display: flex;
    gap: 50px;
}

.addInput {
    display: flex;
    gap: 10px;
}

@media (max-width: 400px) {
    .bars {
        padding: 0 10px 0 10px;
        gap: 20px;
    }
}